@{
    ViewData["Title"] = "Sản phẩm event";

}
<div class="app-main__inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">
                        Menu 
                    </h5>
                    <a style = "font-size: 15px;" href="~/Admin/Categories/Index" class="mb-2 mr-2 btn-transition btn btn-outline-success btn-lg btn-block">
                        Loại
                    </a>
                    <a style = "font-size: 15px;" href="~/Admin/Inventory/Products" class="mb-2 mr-2 btn-transition btn btn-outline-success btn-block">
                        Quản lý sản phẩm
                    </a>
                    <a style = "font-size: 15px;" href="~/Admin/Inventory/Get" class="mb-2 mr-2 btn-transition btn btn-outline-success btn-block">
                        Thống kê tìm kiếm 
                    </a>
                    <a style = "font-size: 15px;" href="~/Admin/PurchaseOrders/PurchaseOrderHome" class="mb-2 mr-2 btn-transition btn btn-outline-success btn-sm btn-block">
                        Hóa đơn chi trả
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>            

