@{


    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<p>Please Login to access this information</p>
<p><strong>Proceed to Login:</strong></p>
<br />
<a  asp-area="Identity" asp-page="/Account/Login"><span>Click Here</span></a>

