@model Payroll_Manager.Areas.Admin.Models.VM_DoanhNghiep.AttendancesViewModel

@{ ViewData["Title"] = "Hệ thống điểm danh";
    Layout = "~/Views/Shared/_Layout_A.cshtml"; }

<div class="container body-content" style="margin-top:60px">
    <h1 class="pmd-display1">Edit Attendance status</h1>

    <form asp-action="Edit" method="post" asp-controller="Attendances" asp-area="Admin">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AttendanceID" />
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Attendance_Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Attendance_Date" class="form-control" readonly />
                    <span asp-validation-for="Attendance_Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Attendance_status" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Attendance_status" class="form-control" />**Check for present and Uncheck for absent
                    <span asp-validation-for="Attendance_status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn pmd-ripple-effect btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index" class="btn pmd-ripple-effect btn-primary">Back to List</a>
</div>

@section Scripts {
    <link href="~/Assets_Attendance/pmd-datatable.css" rel="stylesheet">

    <link href="~/Assets_Attendance/select.dataTables.min.css" rel="stylesheet">
    <!-- Datatable js -->
    <script type="text/javascript" language="javascript" src="~/lib/materialize/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Datatable Bootstrap -->
    <script type="text/javascript" language="javascript" src="~/lib/materialize/js/dataTables.bootstrap.js"></script>

    <!-- Datatable responsive js-->
    <script type="text/javascript" language="javascript" src="~/lib/materialize/js/dataTables.responsive.js"></script>

    <!-- Datatable select js-->
    <script type="text/javascript" language="javascript" src="~/lib/materialize/js/dataTables.select.js"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
