<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>

    <meta name="description" content="Chọn giao diện">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/modal.css" rel="stylesheet">

    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="~/UserAssets2/css/magnific-popup.css">

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script type="text/javascript" src="~/UserAssets2/css/jquery.magnific-popup.js"></script>
    <link rel="stylesheet" href="~/assets/oneui.css">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
    <style>
        .block-content .table td img {
            padding-bottom: 7px;
        }
    </style>

    <div id="page-container" class="sidebar-l sidebar-mini side-scroll header-navbar-fixed header-navbar-transparent">
        <!-- Header -->
        <!-- END Header -->
        <!-- Main Container -->
        <main id="main-container">
            <!-- Hero Content -->
            <div class="bg-primary-dark">
                <section class="content content-full content-boxed">
                    <!-- Section Content -->
                    <div class="push-100-t push-50 text-center">
                        <h1 class="h2 text-white push-10 ">Kế hoạch siêu linh hoạt cho bạn</h1>
                        <h2 class="h5 text-white-op ">Chọn giao diện phù hợp với bạn và chọn vé phù hợp với bạn</h2>
                    </div>
                    <!-- END Section Content -->
                </section>
            </div>
            <!-- END Hero Content -->
            <!-- Pricing -->
            <div class="bg-white">
                <section class="content content-boxed ">
                    <!-- Section Content -->
                    <div class="row push-20-t push-20">

                        <div class="col-sm-6 col-lg-6" >
                            <!-- Plan -->
                            <div class="block block-bordered block-link-hover3 text-center">
                                <div class="block-header">
                                    <h2 class="block-title label label-info">EventNet</h2>
                                </div>

                                <div class="block-content block-content-full bg-warning">


                                    <div class="h1 font-w700 text-white push-10">
                                        <a href="/giaodien1.html" class="h1 font-w700 text-white push-10" style="padding: 10px;"> Giao diện 1 </a>
                                    </div>
                                </div>
                                <div class="block-content  d-flex justify-content-center">
                                    <a href="~/images/gd1.PNG" style="padding: 10px;" class="image-link">
                                        <img width="220px" height="220px" src="~/images/gd1.PNG" />
                                    </a>
                                </div>

                            </div>
                            <!-- END Plan -->
                        </div>
                        <div class="col-sm-6 col-lg-6" >
                            <!-- Plan -->
                            <div class="block block-bordered block-link-hover3 text-center">
                                <div class="block-header">
                                    <h2 class="block-title label label-info">EventNet</h2>
                                </div>

                                <div class="block-content block-content-full bg-warning">


                                    <div class="h1 font-w700 text-white push-10">
                                        <a href="/giaodien2.html" class="h1 font-w700 text-white push-10" style="padding: 10px;"> Giao diện 2 </a>
                                    </div>
                                </div>
                                <div class="block-content  d-flex justify-content-center">
                                    <a href="~/images/gd2.PNG" style="padding: 10px" class="image-link">
                                        <img width="220px" height="220px" src="~/images/gd2.PNG" />
                                    </a>
                                </div>

                            </div>
                            <!-- END Plan -->
                        </div>

                    </div>
                    <!-- END Section Content -->
                </section>
            </div>
            <!-- END Pricing -->
            <div class="bg-gray-lighter">
                <section class="content content-full content-boxed">
                    <!-- Section Content -->
                    <div class="push-20-t push-20 text-center">
                        <h3 class="h4 push-20 " >Lựa chọn 2 giao diện</h3>
                        <a class="btn btn-rounded btn-noborder btn-lg btn-success "href="/Identity/Account/Login">Bắt đầu hôm nay</a>
                    </div>
                    <!-- END Section Content -->
                </section>
            </div>
        </main>
    </div>
    <div>
        @RenderBody()
    </div>

    <!-- for bootstrap working -->
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<footer id="page-footer" class="bg-white">
        <div class="content content-boxed">
            <!-- Footer Navigation -->
            <div class="row push-30-t items-push-2x">
                <div class="col-sm-4">
                    <h3 class="h5 font-w600 text-uppercase push-20">Công Ty</h3>
                    <ul class="list list-simple-mini font-s13">
                        <li>
                            <a class="font-w600" href="/GiaoDien/Index">Home</a>
                        </li>

                        <li>
                            <a class="font-w600" href="/GiaoDien/DanhChoKhachHang">Về chúng tôi</a>
                        </li>
                        <li>
                            <a class="font-w600" href="#">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 class="h5 font-w600 text-uppercase push-20">Hỗ trợ</h3>
                    <ul class="list list-simple-mini font-s13">
                        <li>
                            <a class="font-w600" href="/Account/Login">Đăng Nhập</a>
                        </li>
                        <li>
                            <a class="font-w600" href="/Account/Register">Đăng Ký</a>
                        </li>
                        <li>
                            <a class="font-w600" href="javascript:void(0)">Trung Tâm hỗ trợ</a>
                        </li>
                        <li>
                            <a class="font-w600" href="javascript:void(0)">Chính sách riêng tư</a>
                        </li>
                        <li>
                            <a class="font-w600" href="javascript:void(0)">Điều khoản &amp; điều kiện</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 class="h5 font-w600 text-uppercase push-20">Liên lạc</h3>
                    <div class="font-s13 push">
                        <strong>Huflit</strong><br>
                        980 Folsom Ave, Suite 1230<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </div>
                    <div class="font-s13">
                        <i class="si si-envelope-open"></i> company@example.com
                    </div>
                </div>
            </div>
            <!-- END Footer Navigation -->
            <!-- Copyright Info -->
            <div class="font-s12 push-20 clearfix">
                <hr class="remove-margin-t">
                <div class="pull-left">
                    <a class="font-w600" href="javascript:void(0)" target="_blank">Huflit</a> &copy; <span class="js-year-copy"></span>
                </div>
            </div>
            <!-- END Copyright Info -->
        </div>
    </footer>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.image-link').magnificPopup({ type: 'image' });
        });</script>

</body>
</html>
