@{


    ViewBag.Title = "Access Denied";
}
<link href="/css/Animated.css" rel="stylesheet" type="text/css" />
<link href="/css/Employee.css" rel="stylesheet" type="text/css" />
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login"><span>Click Here</span></a>
                    </div></div></div>
        </div></div>
    </div>

