@{ ViewBag.Title = "Purchase Order Home"; }

<div class="app-main__inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">
                        Purchase Orders
                    </h5>
                    <a style="font-size: 15px;" href="~/Admin/PurchaseOrders/Create" class="mb-2 mr-2 btn-transition btn btn-outline-info btn-lg btn-block">
                        Tạo giao dịch
                    </a>
                    <a style="font-size: 15px;" href="~/Admin/PurchaseOrders/Search" class="mb-2 mr-2 btn-transition btn btn-outline-info btn-block">
                        Search
                    </a>
                    <a style="font-size: 15px;" href="~/Admin/PurchaseOrders/Index" class="mb-2 mr-2 btn-transition btn btn-outline-info btn-sm btn-block">
                        Xem tất cả giao dịch
                    </a>
                    <a style="font-size: 15px;" href="~/Admin/Inventories/Index" class="mb-2 mr-2 btn-transition btn btn-outline-primary btn-sm btn-block">
                        Return to Inventory Main Menu
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
