@{
    ViewBag.Title = "Sales";
}
<div class="app-main__inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">
                        Menu Sale
                    </h5>
                    <a style = "font-size: 15px;" href="~/Admin/Sale/NewSale" class="mb-2 mr-2 btn-transition btn btn-outline-focus btn-lg btn-block">
                        Thêm danh sách bán hàng
                    </a>
                    <a style = "font-size: 15px;" href="~/Admin/Sale/ReturnLookup" class="mb-2 mr-2 btn-transition btn btn-outline-focus btn-block">
                        Quản lý danh sách bán hàng
                    </a>
                    <a style = "font-size: 15px;" href="~/Admin/Sale/TransactionLookup" class="mb-2 mr-2 btn-transition btn btn-outline-focus btn-sm btn-block">
                        Tìm kiếm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>            
