
@{
    ViewBag.Title = "CreateRedirect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhập địa chỉ mới</h2>
<br/>
<p>Bạn muốn thêm mục nhập địa chỉ mới ở đâu?</p>
<p><a asp-area="Admin" asp-controller="Employee" asp-action="Create" class="btn btn-info">Khách hàng</a></p>
<p><a asp-area="Admin" asp-controller="Employee" asp-action="Create" class="btn btn-info">Nhân viên</a></p>

