
@{ ViewData["Title"] = "Khách hàng"; }

<h2>Access Denied</h2>
<p>Please Login to access this information</p>
<p><strong>Proceed to Login:</strong></p>
<br />
<a href="~/Home/Login" class="button"><span>Click Here</span></a>

